body {
    font-family: 'Nunito', sans-serif !important;
    background: #bfbfbf;
}

.background-custom {
    background: #bfbfbf;
}

.avatar-rounded {
    border-radius: 50%;
}

.long-input {
    width: 100%;
}

.menu-is-supreme {
    z-index: 999;
}

.custom-bg {
    background: url("../res/back.jpg") no-repeat;
    background-size: 2046px;
    height: 100%;
    width: 100%;
}

.bg-list {
    background-size: contain;
    background: url("../res/back_list.jpg") no-repeat fixed;
}

.article-image-border {
    border: 2px solid white;
    border-radius: 1px;
}

.visible-box {
    padding-left: 15px;
    padding-right: 15px;
    background: #f8f8f8;
    box-shadow: 0 0 7px 2px #222;
}

.width-full {
    min-width: 100%;
}

.custom-bg-info {
    background: url("../res/back-info.jpg") no-repeat;
    background-size: 2046px;
    height: 100%;
    width: 100%;
}

.bg-split {
    background: url("../res/back_split.jpg") no-repeat;
    background-size: 1920px;
    height: 100%;
    width: 50%;
}